<div id="container">
    <div id="row">
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" ng-submit="login()" ng-controller="LoginCtrl"
                  ng-show="!loggedIn">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                     ng-if="flash" ng-bind="flash.message"></div>
                <div class="form-group">
                    <input type="text" placeholder="User" class="form-control" ng-model="username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" ng-model="password">
                </div>

                <input type="submit" class="btn btn-success" value="Login">

            </form>
            <div class="newBookBtn col-md-3">
                <a href="#/books" ng-show="loggedIn" ng-controller="LoginCtrl" class="btn btn-primary col-md-3"
                   ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="">
    <h2 ng-show="isAdmin">Administrationsbereich</h2>
</div>

<div class="input-group-lg">
    <input type="text" class="form-control" placeholder="Such das Stocki ..." ng-model="searchText"/>
</div>
<br/>
<div class="table-responsive">
    <table class="bm_book-list table">
        <tbody>
        <tr>
            <th>Titel</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th ng-show="isAdmin">Sprengsatz</th>
        </tr>
        <tr ng-repeat="book in books | orderBy: [title,subtitle] | filter: searchText">
            <!--<td><a ng-hide="isAdmin" ng-href="#/books/{{ book.isbn }}" ng-bind="book.title | alternatingCase"></a>-->
            <td ng-hide="isAdmin"><a ng-href="#/books/{{ book.isbn }}" ng-bind="book.title"></a></td>
            <td ng-show="isAdmin"><a ng-href="#/admin/books/{{ book.isbn }}/edit" ng-bind="book.title"></a></td>
            <td ng-bind="book.author"></td>
            <td ng-bind="book.isbn"></td>
            <td ng-show="isAdmin"><a ng-href="#/admin/books/{{ book.isbn }}/delete">Löschen</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p class="newBookBtn" ng-show="isAdmin">
    <a class="btn btn-danger btn-lg" ng-href="#/admin/books/new">Neues Buch anlegen</a>
    <br><br>
    <a class="btn btn-danger btn-lg" ng-href="#/admin/publishers">Verlage verwalten</a>
</p>
